.container_Card img {
    cursor: pointer;
    transition: .5s;
    border-radius: 5px;
    width: 250px;
    object-fit: cover;
}

.container_Card img:hover {
    transition: .3s;
    transform: scale(1.05);
}