nav {
    position: relative;
    box-sizing: border-box;
    background-color: #02000b;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container_Menu-medium {
    display: none;
}
nav h2 {
    display: flex;
    align-items: center;
    font-size: 35px;
    box-sizing: border-box;
}
nav h2 span {
    font-size: 40px;
    box-sizing: border-box;
}
nav .links_Container .link_Nav, .bg-menu-Medium .link_Nav{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0 15px;
}
nav .links_Container .link_Nav span, .bg-menu-Medium .link_Nav span{
    font-size: 24px;
    text-decoration: none;
}
.bg-menu-Medium {
    position: absolute;
    width: max-content;
    height: 80px;
    bottom: -60px;
    padding: 20px 10px;
    box-sizing: border-box;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #02000b;
}
@media (max-width: 960px) {
    .links_Container {
        display: none;
    }
    .container_Menu-medium {
        display: flex;
    }
    .container_Menu-medium .menu-medium {
        font-size: 42px;
    }
}
@media (max-width: 625px){
    nav {
        flex-direction: column;
        padding-bottom: 30px;
    }
    .container_Menu-medium{
        position: absolute;
        top: 35px;
        right: 20px;
    }
    .bg-menu-Medium {
        top: 100px;
    }
}