nav {
	height: 80px;
	padding: 10px 20px 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1280px;
	margin: auto;
}
.container-links-menu {
	display: none;
}
.text-nav {
	font-size: 42px;
	display: flex;
	align-items: center;
	font-weight: 600;
}
.text-nav span {
	font-size: 35px;
	margin: auto;
}
.style-link-nav {
	text-decoration: none;
	margin: 0px 15px 0px 15px;
}
.style-link-nav span {
	color: white;
	font-family: Poppins;
	font-size: 24px;
}

@media (max-width: 1250px) {
	.search-nav {
		display: none;
	}
	nav {
		max-width: 1280px;
	}
	.no-menu {
		display: none;
	}
	.menu {
		background: rgba(0, 0, 0, 0.3);
		position: absolute;
		top: 40px;
		border-radius: 10px 0px 10px 10px;
		right: 0;
		padding: 10px 15px 10px 15px;
		width: max-content;
		display: flex;
		flex-direction: column;
	}
	.style-link-nav-menu {
		color: white;
		text-decoration: none;
		margin: 10px 5px 10px 5px;
	}
	.container-links-nav {
		display: none;
	}
	.style-link-nav-menu span {
	color: white;
	font-family: Poppins;
	font-size: 20px;
}
	.container-links-menu{
		display: flex;
		position: relative;
	}
	.style-button-menu {
		font-size: 42px;
		cursor: pointer;
	}
}