.container_Search input {
    width: 280px;
    height: 25px;
    font-weight: bold;
    background: none;
    border: none;
    border-bottom: 2px solid white;
}

.container_Search input:focus {
    outline: none;
}